
header{
  background: #121212;
  width: 100%;
  height: 56px;
  color: white;
  display: flex;
  align-items: center;
  justify-content:space-between;

  h3{
    padding: 0rem 2rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
}
